<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Chef</title>
</head>
<body>
<form class="ui form" method="post" action="/chef/add">
    <div class="field">
        <label>First Name</label>
        <input type="text" name="firstName" placeholder="firstName">
    </div>
    <div class="field">
        <label>Last Name</label>
        <input type="text" name="lastName" placeholder="lastName">
    </div>
    <div class="field">
        <label>Specialty</label>
        <input type="text" name="specialty" placeholder="specialty">
    </div>
    <div class="field">
        <label>YOE</label>
        <input type="text" name="yrsOfExperience" placeholder="yrsOfExperience">
    </div>
    <div class="field">
        <label>Salary</label>
        <input type="text" name="salary" placeholder="salary">
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>
</div>
</body>
</html>