<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="ui celled table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Assigned Waiter</th>
            <th>Customer Id</th>
            <th>Preference</th>
        </tr>
    </thead>
    <tbody>
    {{#customerList}}
        <tr>
            <td>{{CustomerId}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{preference}}</td>
            <td>{{assignedWaiter}}</td>
        </tr>
    {{/customerList}}
    </tbody>
</table>
</body>
</html>
